* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;

    --color-base-white: #fff;
    --color-bc-dark-blue: #065E7C;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
}

header, footer {
    background-color: var(--color-bc-dark-blue);
}